# Windows
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
[Tt]humbs.db

# Backups
*.bak

# Logs
*.log

# Temporary
*~
*.tmp
*.temp
tmp/
temp/

# Build
bin/
obj/
Debug/
Release/
x86/
x64/

# Visual C++
*.aps

# Visual Studio
*.user
.vs/
